body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('WhatsApp\ Image\ 2024-02-20\ at\ 12.01.27_b887b4dd.jpg'); /* Ubah 'background.jpg' dengan nama file gambar latar belakang Anda */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}
